.banner {
    background: url("./images/princeton-campus.jpeg") bottom center;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #01563f !important;
}

.banner__info > button {
    background-color: #01563f;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}
.banner__caption {
    margin: 520px 0px 0px 20px;
}

.banner__caption > h1 {
    color: white;
    font-size: 40px;
}

.banner__info > button:hover {
    background-color: white;
    color: #01563f;
}


.banner__info > h5 {
    margin-top: 10px;
}